.container {
 position: relative;
}
.center {
 position: absolute;
 left: 0;
 top: 50;
 width: 100%;
 text-align: center;
 font-size: 18px;
}
img {
 width: 100;
 height: auto;
 opacity: 0.3;
}
.box1 {
 width: 200px;
 height: 200px;
 background-color: blue;
 border: solid 3px red;
}
.box2 {
 width: 100px;
 height: 100px;
 background-color: rgb(197, 129, 3);
 border: solid 3px pink;
 postion: absolute;
}
.box3 {
 width: 200px;
 height: 200px;
 background-color: rgb(122, 9, 75);
 border: solid 3px grey;
}